Uebung 4/lab4/project/target/
Uebung 4/lab4/project/build.properties
Uebung 4/lab4/target/scala-2.10/classes/Routes$$anonfun$routes$1$$anonfun$applyOrElse$1$$anonfun$apply$1.class
Uebung 4/lab4/target/
Uebung 4/lab4/project/project/
Uebung 4/lab4/.idea/libraries/
Uebung 4/lab4/logs/
