* {
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

body {
	background-image:url("../img/style1-background.png");
	background-size: cover;
	background-attachment: fixed;	
	color: #FFFFFF;
}

header {
	height: 38px;
	background: #033058 url("../img/big-logo-small.png") no-repeat;
	background-position: 15px 5px;
	padding: 10px 20px 10px 80px;
	font-weight: bold;
	font-size:28px;
}

header button {	
	background: #F29400;
	float: right;
	margin-top: 5px;
	padding: 2px 30px;	
	border: 1px solid #C37700;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
}

.formRegister {
	  width: 420px; 
	  height: 500px;   
	  padding-top: 30px;
	  padding-right: 0px;
	  margin: auto;
}

.formRegister  button{
	background: #36D344 url("../img/white-arrow-right.png") no-repeat;
	background-position: 90% 50%;
	width: 170px;
	height: 30px;
	clear: both;
	float: right;
	margin-top: -15px;
	margin-bottom: 10px;
	text-align: left;
	padding-left: 25px;
	border: 1px solid #116D01;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
}

.formRegister  button:disabled{
	background-color:#CCCCCC;
}

.formRegister  footer{
	padding-top: 5px;
	font-size: 14px;
	clear: both;
	text-align: center;	
	color: #FFFFFF;
}

.formRegister  fieldset {
	border: 0px;
	margin-bottom: 10px;
}

.formRegister  fieldset legend {
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	margin-bottom: 25px;
}

.formRegister  fieldset label  {
	font-size: 15px;
	width: 165px;
	float: left;
}

.formRegister  fieldset input{
	width: 240px;
	height: 23px;
	margin-bottom: 15px;
	padding: 2px 5px 2px 5px;
	border: 1px solid #03345F;
	border-radius: 3px;
}

.formRegister  fieldset select {
   width: 252px;
   height: 30px;
   margin-bottom: 10px;
   padding: 3.5px 5px 2px 5px;
   border: 1px solid #03345F;
   border-radius: 2px;  
}

.formWertung  {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	top: 0;
}

.formWertung  p {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	padding: 0px;
}

.formWertung section {
	margin: 0px;
	width: 33%;
	float: left;
}

.divRight {
	float: right;
}

.formWertung section div{
	width: 80px;
	text-align: center;
	padding-left: 2px;
}

.formWertung section div img{
	width: 17px;
	height: 16px;
}

.formWertung  h1{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}



.formFrage {	
	clear: both;
    width: 80%;
	margin: 0 auto;
	padding-top: 20px;	  
	padding-bottom: 50px;
	
}

.formFrage label{
	display: block;
    text-align: center;
	width: 100%;
	color: #FFFFFF;
	font-size: 20px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.formFrage section {
	-webkit-column-count:2;  
	-moz-column-count:2; 
	column-count:2;	
}

.formFrage section input {
	float: left;
	width: 100%;
	min-width: 220px;
	height: 50px;
	margin: 5px 5px;
	background: #B9D6F0;
	border: 0px;
	border-radius: 5px;  
	color: #133058;
}

.formFrage section .marked {
	color: #e6ffff;
	background-color: #033058;
}

footer {
	clear: both;
	font-size: 15px;
	text-align: center;
}

@media screen and (max-width: 32em) {
	
	header button {	
		padding: 5px;	
	}
	
	.formRegister  {
	  padding-top: 18px;
	 }

	.formRegister  fieldset legend {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.formRegister  fieldset input {
		width: 96%;
	}
	.formRegister  fieldset select {
	   width: 99%;
	   margin-bottom: 15px;
	}
	.formRegister  button{
		 margin-right: 2px;
	}
	.formRegister  footer{
		padding-top: 2.5px;
	}
	.formFrage section {
		-webkit-column-count:1;  
		-moz-column-count:1; 
		column-count:1;	
	}
	
	.formWertung  h1{
		padding-top: 45px;
	}

	
	footer {
		padding-top: 12%;
	}
}