@(form: Form[SimpleUser])

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Messages("head.title")</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")"/>
    </head>
    <body id="loginpage">
        <a class="accessibility" href="#login">@Messages("loginpage.accessibility")</a>
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">@Messages("header.banner")</span> @Messages("quiz")</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">@Messages("loginpage")</h2>
            <ul>
                <li><a id="registerlink" title="@Messages("registerlink")" href="register.html" accesskey="r">@Messages("navigation")</a></li>
            </ul>
        </nav>
        <!-- Login section -->
        <section role="main">
            <section id="login" aria-labelledby="loginheading">
                @import views.formView._
                @helper.form(routes.Application.login()) {
                    <fieldset>
                        <legend id="loginheading">@Messages("Login")</legend>
                        @for(error <- form("formError").errors) {
                            <div id="error_msg_name" class="error" role="alert"> @error.message </div>
                        }
                        @helper.inputText(form("username"), 'id -> "username", '_showConstraints -> false, '_label -> Messages("userName"))(textInput, implicitly[Lang])
                        @helper.inputPassword(form("password"), 'id -> "password", '_showConstraints -> false, '_label -> Messages("password"))(textInput, implicitly[Lang])
                        <input id="loginsubmit" type="submit" value="@Messages("LoginButton")"/>
                    </fieldset>
                }
            </section>
            <!-- Register section -->
            <section id="register" aria-labelledby="registerheading">
                <h2 id="registerheading" class="accessibility">@Messages("register")</h2>
                <p>@Messages("not.register")</p>
                <a href="@routes.Application.registration()">@Messages("for.register")</a>
            </section>
        </section>

        <!-- footer -->
        <footer role="contentinfo">© 2014 BIG Quiz</footer>
    </body>
</html>
